body {
    font-family: 'Poppins', sans-serif;
}

.btn-1 {
    background-color: #ffe8f7;
    padding: 10px 60px;
}

.btn-2 {
    background-color: #ffffff;
    padding: 10px 60px;
    color: rgb(61, 107, 255);
}